<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="border: 2px solid red; padding: 20px;">
    {{{body}}}
    </div>
  </body>
</html>