<h1>Registro</h1>

<form action="/user" method="post">
  <div>
    <label for="nombre">nombre: </label>
    <input id="nombre" type="text" name="name" value="">
  </div>
  <div>
    <label for="email">email: </label>
    <input id="email" type="text" name="email" value="">
  </div>
  <div>
    <label for="nick">nick: </label>
    <input id="nick" type="text" name="nick" value="">
  </div>
  <div>
    <label for="descripcion">descripcion: </label>
    <input id="descripcion" type="text" name="description" value="">
  </div>
  <div>
    <label for="url">url: </label>
    <input id="url" type="text" name="url" value="">
  </div>
  <button type="submit">Registrar</button>
</form>